.outcome{
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
    height: 100px;
    width: 200px;
}
.center-container{
  display:flex;
  justify-content: center;
  align-items:center;
  margin-top:20px;
}

.container{
    display: flex;
    justify-content: space-between;
}